body
    font-family: 'Cabin', sans-serif !important
    
.menu
    position: relative
    z-index: 8
.menu-social-networks
    background: #000
    padding: 0px 0px 0px 0px
    width: 100%
    height: 45px
    margin: 0

.img-logo-menu-social
    width: 5%
    margin-top: 10px
    height: auto 
  

.bg-menu
    background: rgba(0, 0, 0, 0.8)

.img-logo-menu-table-social
    width: 100%
    margin-top: 15px
    height: auto
    
.menu-social-networks nav ul li 
    display: inline-block
    position: relative
    padding: 5px

.fixed-redes
    position: fixed
    top: 0

.menu-social-networks nav ul li a
    color: #ffffff
    font-size: 1.5rem

.logo-data figure
   margin: 0 0 0 0
   padding: 0px
    width: 100%
    box-sizing: border-box

.logo-center
    top: 10px
.menu-principal
    background: rgba(0, 0, 0, 0.8)



.nav-menu-data nav ul li
    display: inline-block
    padding: 1rem
    margin: 0 0 0 0 
    box-sizing: border-box

.nav-menu-data nav ul li a
    color: #ffffff
    font-size: 1rem
    

.style-a:hover
    color: #111111
    padding: 1rem
    background: #ffffff    
    border-bottom: 5px solid #c00d0d
    transition: 1s

.style-a-movil:hover
    color: #111111
    padding: .2rem
    background: #ffffff    
    border-bottom: 5px solid #c00d0d
    transition: 1s


.style-a
    text-decoration: none !important

.galeria
    width: 100%
    height: 50%
    margin-top: -75px

.top-galeria
    z-index: 2

.datamarketing-posicion-center
    position: absolute
    top: 40%
    z-index: 1


.menu-resposive-top
    background: rgba(0, 0, 0, 0.8)
    

.menu-resposive-top nav ul li
    display: inline-block
    padding: 1rem
    margin: 0 0 0 0 
    box-sizing: border-box

.menu-resposive-top nav ul li a
    color: #ffffff
    font-size: 1rem


    /*Menu responsivo movil*/
.menu_responsivo_movil
    background: rgba(0, 0, 0, 0.8)
    width: 102%
    position: sticky 
    top: 0px

    /*Menu resposivo*/
.menu_responsivo
    background: rgba(0, 0, 0, 0.8)
    position: fixed
    display: flex
    box-sizing: border-box
    padding: 1rem
    margin: 0 0 0 0
    width: 100%
    bottom: 0
    left: 0px
    
.menu-responsivo-top
    color: #ffffff
    font-size: 1rem

/*Titulo Galeria*/
.title-galery-data
    font-size: 4rem
.text-galery-data 
    font-size: 2rem

.data-efect:hover
    background: #000000


    /*Clientes*/

.img-data
    transition: opacify 1s
    opacity: 0.5

.img-data:hover
    opacity: 1

.if-image
    max-width: 71% 
    height: auto

.clientes h1
    font-size: 1vw

.title-servicios
    z-index: 2
    border: solid 1px #ffffff
    display: inline-block
    position: absolute
    top: 45%
    left: 50%    
    padding: .5rem
    margin: 0
    color: #fff
    transform: translate(-50%,-50%)
    background-color: rgba(0,0,0, 0.2);
    opacity: 1

.title-servicios:hover
    opacity: 0

.col-data
    padding: 0 0 0 0 !important

.img-service
    width: 100%
    max-width: 100%   
    height: 400px        

.descripcion
    z-index: 2   
    padding: .5rem
    margin: 0
    color: #fff    
    background-color: rgba(0,0,0, 0.2);
    width: 100%
    height: 400px    
    position: absolute
    top: 49%
    left: 50%    
    padding: .5rem
    margin: 0
    color: #fff
    transform: translate(-50%,-50%)
    background-color: rgba(0,0,0, 0.2);
    opacity: 0
    transform: .10s
    font-size: 1rem
    text-justify: center

.descripcion:hover
    opacity: 1    
    transition: .5s
    background-color: rgba(0,0,0, 0.5);
    
.descripcion p
    display: inline-block
    padding: 1rem
    position: absolute
    
    

section
    padding-top: 1rem    

footer
    width: 100%
    height: 80px
    text-align: center
    background-color: #000
    color: #ffffff
       
    margin: 0
    margin-bottom: 0
    


footer p


.nosotros h1, .servicio h1, .Clientes h1
    padding: 1rem
    text-align: center

.alephent-card 
    background-color: #fff
    color: #ffffff
    display: inline-block
    font-family: 'Source Sans Pro', sans-serif
    font-size: 16px
    margin: 0px 5px
    max-width: 315px
    min-width: 230px
    overflow: hidden
    position: relative
    text-align: left
    width: 100%
    transform: translateZ(0)



.alephent-card *,
.alephent-card *:before,
.alephent-card *:after 
    transition: all 0.45s ease
    box-sizing: border-box


.alephent-card img 
    backface-visibility: hidden
    max-width: 100%
    vertical-align: top
 
.alephent-card:before
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    content: ''
    background-color: #ffffff
    opacity: 0.5
    transition: all 0.45s ease

.alephent-card:after 
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    content: ''
    background-color: #ffffff
    opacity: 0.5  
    transition: all 0.45s ease

.alephent-card:before
    transform: skew(30deg) translateX(-80%)

.alephent-card:after 
    transform: skew(-30deg) translateX(-70%);


.alephent-card figcaption 
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    z-index: 1
    bottom: 0
    padding: 25px 40% 25px 20px

.alephent-card figcaption:before,
.alephent-card figcaption:after 
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: #b81212
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7)
    content: ''
    opacity: 0.5
    z-index: -1

.alephent-card figcaption:before   
    transform: skew(30deg) translateX(-100%)

.alephent-card figcaption:after   
    transform: skew(-30deg) translateX(-90%)

.alephent-card h3,.alephent-card p 
    margin: 0
    opacity: 0
    letter-spacing: 1px

.alephent-card h3 
    font-family: 'Teko', sans-serif
    font-size: 28px
    font-weight: 700
    line-height: 1em
    text-transform: uppercase

.alephent-card p 
    font-size: 0.6em

.alephent-card a 
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1

.alephent-card:hover h3,
.alephent-card.hover h3,
.alephent-card:hover p,
.alephent-card.hover p   
    transform: translateY(0)
    opacity: 0.9    
    transition-delay: 0.2s

.alephent-card:hover:before,
.alephent-card.hover:before   
    transform: skew(30deg) translateX(-20%)  
    transition-delay: 0.05s

.alephent-card:hover:after,
.alephent-card.hover:after   
    transform: skew(-30deg) translateX(-10%)

.alephent-card:hover figcaption:before,
.alephent-card.hover figcaption:before  
    transform: skew(30deg) translateX(-40%)  
    transition-delay: 0.15s

.alephent-card:hover figcaption:after,
.alephent-card.hover figcaption:after   
    transform: skew(-30deg) translateX(-30%)  
    transition-delay: 0.1s










 



    







    


 

   



    



    












   

