.menu
    position: relative
    z-index: 2
.menu-social-networks
    background: #000
    padding: 0px 0px 0px 0px
    width: 100%
    height: 45px
    margin: 0

.img-logo-menu-social
    width: 5%
    margin-top: 10px
    height: auto 
  

.bg-menu
    background: rgba(0, 0, 0, 0.8)



.img-logo-menu-table-social
    width: 100%
    margin-top: 15px
    height: auto
    
.menu-social-networks nav ul li 
    display: inline-block
    position: relative
    padding: 5px

.fixed-redes
    position: fixed
    top: 0

.menu-social-networks nav ul li a
    color: #ffffff
    font-size: 1.5rem

.logo-data figure
   margin: 0 0 0 0
   padding: 0px
    width: 100%
    box-sizing: border-box

.logo-center
    top: 10px
.menu-principal
    background: rgba(0, 0, 0, 0.8)



.nav-menu-data nav ul li
    display: inline-block
    padding: 1rem
    margin: 0 0 0 0 
    box-sizing: border-box

.nav-menu-data nav ul li a
    color: #ffffff
    font-size: 1rem
    

.style-a:hover
    color: #111111
    padding: 1rem
    background: #ffffff    
    border-bottom: 5px solid #c00d0d
    transition: 1s

.style-a-movil:hover
    color: #111111
    padding: .2rem
    background: #ffffff    
    border-bottom: 5px solid #c00d0d
    transition: 1s


.style-a
    text-decoration: none !important

.galeria
    width: 100%
    height: 50%
    margin-top: -75px

.top-galeria
    z-index: 2

.datamarketing-posicion-center
    position: absolute
    top: 40%
    z-index: 1


.menu-resposive-top
    background: rgba(0, 0, 0, 0.8)
    

.menu-resposive-top nav ul li
    display: inline-block
    padding: 1rem
    margin: 0 0 0 0 
    box-sizing: border-box

.menu-resposive-top nav ul li a
    color: #ffffff
    font-size: 1rem


    /*Menu responsivo movil*/
.menu_responsivo_movil
    background: rgba(0, 0, 0, 0.8)
    width: 102%
    position: sticky 
    top: 0px

    /*Menu resposivo*/
.menu_responsivo
    background: rgba(0, 0, 0, 0.8)
    position: fixed
    display: flex
    box-sizing: border-box
    padding: 1rem
    margin: 0 0 0 0
    width: 100%
    bottom: 0
    left: 0px
    
.menu-responsivo-top
    color: #ffffff
    font-size: 1rem

/*Titulo Galeria*/
.title-galery-data
    font-size: 4rem
.text-galery-data 
    font-size: 2rem

.data-efect:hover
    background: #000000


    /*Clientes*/

.img-data
    transition: opacify 1s
    opacity: 0.5

.img-data:hover
    opacity: 1

if-image
    max-width: 5% !important

.clientes h1
    font-size: 1vw






    







    


 

   



    



    












   

